Import Libraries

In [16]:
import pandas as pd 
import numpy as np 
import datetime as dt
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from mpl_toolkits.mplot3d import Axes3D
from datetime import date

import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)

Loading the Dataset

In [2]:
df_ = pd.read_csv('flo_data_20k.csv')

In [3]:
df = df_.copy()

Data Understanding and Preprecossing

In [5]:
df.head(10)

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]
5  e585280e-aae1-11e9-a2fc-000d3a38a36f       Desktop            Offline       2018-11-18      2021-03-13             2018-11-18              2021-03-13                        1.000                         2.000                            150.870                            49.990                           [KADIN]
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f   Android App        Android App       2020-03-04      2020-10-18             2020-10-18              2020-03-04                        3.000                         1.000                             59.990                           315.940                       [AKTIFSPOR]
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f        Mobile            Offline       2020-05-15      2020-08-12             2020-05-15              2020-08-12                        1.000                         1.000                             49.990                           113.640                           [COCUK]
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f   Android App        Android App       2020-01-23      2021-03-07             2021-03-07              2020-01-25                        3.000                         2.000                            120.480                           934.210             [ERKEK, COCUK, KADIN]
9  1143f032-440d-11ea-8b43-000d3a38a36f        Mobile             Mobile       2019-07-30      2020-10-04             2020-10-04              2019-07-30                        1.000                         1.000                             69.980                            95.980                [KADIN, AKTIFSPOR]

In [6]:
df.shape

(19945, 12)

In [7]:
df.describe().T

                                      count    mean     std    min     25%     50%     75%       max
order_num_total_ever_online       19945.000   3.111   4.226  1.000   1.000   2.000   4.000   200.000
order_num_total_ever_offline      19945.000   1.914   2.063  1.000   1.000   1.000   2.000   109.000
customer_value_total_ever_offline 19945.000 253.923 301.533 10.000  99.990 179.980 319.970 18119.140
customer_value_total_ever_online  19945.000 497.322 832.602 12.990 149.980 286.460 578.440 45220.130

In [8]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [10]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

New Variables

In [11]:
df['customer_value_total_price'] = df['customer_value_total_ever_online'] + df['customer_value_total_ever_offline']

df['order_num_total'] = df['order_num_total_ever_offline'] + df['order_num_total_ever_online']

df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  customer_value_total_price  order_num_total
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]                     939.370            5.000
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]                    2013.550           21.000
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]                     585.320            5.000
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]                     121.970            2.000
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]                     209.980            2.000

In [12]:
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
customer_value_total_price           float64
order_num_total                      float64
dtype: object

In [21]:
df = df.astype({'first_order_date' : 'datetime64[ns]',
           'last_order_date' : 'datetime64[ns]',
           'last_order_date_online' : 'datetime64[ns]',
           'last_order_date_offline' : 'datetime64[ns]'})

In [22]:
df.dtypes

master_id                                    object
order_channel                                object
last_order_channel                           object
first_order_date                     datetime64[ns]
last_order_date                      datetime64[ns]
last_order_date_online               datetime64[ns]
last_order_date_offline              datetime64[ns]
order_num_total_ever_online                 float64
order_num_total_ever_offline                float64
customer_value_total_ever_offline           float64
customer_value_total_ever_online            float64
interested_in_categories_12                  object
customer_value_total_price                  float64
order_num_total                             float64
dtype: object

In [24]:
df.groupby('order_channel').agg({'master_id' : 'count',
                                 'order_num_total' : 'sum',
                                 'customer_value_total_price' : 'sum'})

               master_id  order_num_total  customer_value_total_price
order_channel
Android App         9495        52269.000                 7819062.760
Desktop             2735        10920.000                 1610321.460
Ios App             2833        15351.000                 2525999.930
Mobile              4882        21679.000                 3028183.160

In [26]:
df['customer_value_total_price'].sort_values(ascending=False).head(10)

11150   45905.100
4315    36818.290
7613    33918.100
13880   31227.410
9055    20706.340
7330    18443.570
8068    16918.570
163     12726.100
7223    12282.240
18767   12103.150
Name: customer_value_total_price, dtype: float64

In [27]:
df['order_num_total'].sort_values(ascending=False).head(10)

11150   202.000
7223    131.000
8783    111.000
2619     88.000
6322     83.000
7613     82.000
9347     77.000
10954    75.000
8068     70.000
7330     70.000
Name: order_num_total, dtype: float64

Functionalisation of Preprocessing Steps

In [28]:
def rfm_prep(dataframe):
    dataframe['customer_value_total_price'] = dataframe['customer_value_total_ever_online'] + dataframe['customer_value_total_ever_offline']
    dataframe['order_num_total'] = dataframe['order_num_total_ever_offline'] + dataframe['order_num_total_ever_online']
    dataframe = dataframe.astype({'first_order_date' : 'datetime64[ns]',
                                  'last_order_date' : 'datetime64[ns]',
                                  'last_order_date_online' : 'datetime64[ns]',
                                  'last_order_date_offline' : 'datetime64[ns]'})
    return dataframe

RFM Metrics and Score

In [32]:
today_date = dt.datetime(2021, 5, 31)

In [33]:
rfm = df.groupby("master_id").agg({"last_order_date" : lambda last_order_date: (today_date - last_order_date.max()).days,
                                    "order_num_total" : lambda order_num_total : order_num_total.nunique(),
                                    "customer_value_total_price" : lambda customer_value_total_price: customer_value_total_price.sum()})
rfm.columns = ["Recency", "Frequency", "Monetary"]

In [36]:
rfm['recency_score'] = pd.qcut(rfm['Recency'], 5, labels=[5,4,3,2,1])
rfm['frequency_score'] = pd.qcut(rfm['Frequency'].rank(method='first'), 5, labels=[1,2,3,4,5])
rfm['monetary_score'] = pd.qcut(rfm['Monetary'], 5, labels=[1,2,3,4,5])

In [39]:
rfm['RF_SCORE'] = (rfm['recency_score'].astype(str) +
                   rfm['frequency_score'].astype(str))

In [40]:
rfm.head()

                                      Recency  Frequency  Monetary recency_score frequency_score monetary_score RF_SCORE
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f        9          1   776.070             5               1              4       51
00034aaa-a838-11e9-a2fc-000d3a38a36f      297          1   269.470             1               1              1       11
000be838-85df-11ea-a90b-000d3a38a36f      212          1   722.690             2               1              4       21
000c1fe2-a8b7-11ea-8479-000d3a38a36f       26          1   874.160             5               1              4       51
000f5e3e-9dde-11ea-80cd-000d3a38a36f       19          1  1620.330             5               1              5       51

Segmentation

In [38]:
seg_map = {
    r'[1-2]{2}': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [41]:
rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

In [42]:
rfm.head()

                                      Recency  Frequency  Monetary recency_score frequency_score monetary_score RF_SCORE        segment
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f        9          1   776.070             5               1              4       51  new_customers
00034aaa-a838-11e9-a2fc-000d3a38a36f      297          1   269.470             1               1              1       11    hibernating
000be838-85df-11ea-a90b-000d3a38a36f      212          1   722.690             2               1              4       21    hibernating
000c1fe2-a8b7-11ea-8479-000d3a38a36f       26          1   874.160             5               1              4       51  new_customers
000f5e3e-9dde-11ea-80cd-000d3a38a36f       19          1  1620.330             5               1              5       51  new_customers

In [43]:
rfm[["segment", "Recency", "Frequency", "Monetary"]].groupby("segment").agg(["mean", "sum", "count"])

                    Recency               Frequency             Monetary
                       mean     sum count      mean   sum count     mean         sum count
segment
about_to_sleep      112.397  179498  1597     1.000  1597  1597  696.261 1111928.680  1597
at_Risk             242.290  764184  3154     1.000  3154  3154  652.210 2057070.710  3154
cant_loose          242.276  392730  1621     1.000  1621  1621  663.802 1076023.730  1621
champions            16.442   26209  1594     1.000  1594  1594  921.381 1468681.460  1594
hibernating         242.964  767765  3160     1.000  3160  3160  626.845 1980830.560  3160
loyal_customers      85.465  271692  3179     1.000  3179  3179  784.635 2494355.380  3179
need_attention      111.618   87062   780     1.000   780   780  716.808  559109.980   780
new_customers        16.390   13800   842     1.000   842   842  917.126  772219.700   842
potential_loyalists  35.558  115457  3247     1.000  3247  3247  880.912 2860320.560  3247
promising            56.329   43430   771     1.000   771   771  782.136  603026.550   771

In [46]:
rfm.head()

                                      Recency  Frequency  Monetary recency_score frequency_score monetary_score RF_SCORE        segment
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f        9          1   776.070             5               1              4       51  new_customers
00034aaa-a838-11e9-a2fc-000d3a38a36f      297          1   269.470             1               1              1       11    hibernating
000be838-85df-11ea-a90b-000d3a38a36f      212          1   722.690             2               1              4       21    hibernating
000c1fe2-a8b7-11ea-8479-000d3a38a36f       26          1   874.160             5               1              4       51  new_customers
000f5e3e-9dde-11ea-80cd-000d3a38a36f       19          1  1620.330             5               1              5       51  new_customers

In [50]:
rfm['customer_id'] = df['master_id']

Some Actions

In [56]:
action1 = rfm[rfm['segment'].isin(['champions', 'loyal_customers'])]['customer_id']
action1_1 = df[(df["master_id"].isin(action1)) &(df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]

In [55]:
action2 = rfm[rfm["segment"].isin(["cant_loose","hibernating","new_customers"])]["customer_id"]
action2_2 = df[(df["master_id"].isin(action2)) & ((df["interested_in_categories_12"].str.contains("ERKEK"))|(df["interested_in_categories_12"].str.contains("COCUK")))]["master_id"]